@model IEnumerable<BW_Clinica_Veterinaria.Models.Visite>

@{
    ViewBag.Title = "Cronistoria";
}

<h2>Cronistoria</h2>

<p>
    @Html.ActionLink("Aggiungi Anamnesi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animali.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animali.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cura)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.VisitaID }) |
            @Html.ActionLink("Dettagli", "Details", new { id=item.VisitaID }) |
            @Html.ActionLink("Elimina", "Delete", new { id=item.VisitaID })
        </td>
    </tr>
}

</table>
