@model BW_Clinica_Veterinaria.Models.Ricoveri

@{
    ViewBag.Title = "Details";
}

<h2>Dettagli</h2>

<div>
    <h4>Ricoveri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animali.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animali.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOUT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.RicoveroID }, new { @class = "btn btn-outline-danger" }) |
    @Html.ActionLink("Torna alla lista", "Index", new { @class = "btn btn-outline-success" })
</p>
