@model IEnumerable<BW_Clinica_Veterinaria.Models.Ricoveri>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <div class="card mb-3 shadow" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Url.Content(item.Animali.Foto)" alt="Foto" class="img-fluid rounded-start" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title fs-5">Nome: <span class="card-text fw-normal ms-3">@Html.DisplayFor(modelItem => item.Animali.Nome)</span></h4>

                    <h5 class="card-title fs-5">Razza: <span class="card-text fw-normal ms-3">@Html.DisplayFor(modelItem => item.Animali.Tipo)</span></h5>

                    <h5 class="card-title fs-5">Data di registrazione: <span class="card-text fw-normal ms-3 text-nowrap"> @item.Animali.DataReg.ToString("dd-MM-yyyy")</span></h5>

                    <h5 class="card-title fs-5">Livrea: <span class="card-text fw-normal ms-3">@Html.DisplayFor(modelItem => item.Animali.ColoreManto)</span></h5>

                    <h5 class="card-title fs-5">Chip Sì/No: <span class="card-text fw-normal ms-3">@Html.DisplayFor(modelItem => item.Animali.HasChip)</span></h5>

                    <h5 class="card-title fs-5">Numero Chip: <span class="card-text fw-normal ms-3">@Html.DisplayFor(modelItem => item.Animali.NChip)</span></h5>
                    
                    <h5 class="card-title fs-5">Numero Chip: <span class="card-text fw-normal ms-3">@Html.DisplayFor(modelItem => item.Costo)€</span></h5>



                    <h5 class="card-title fs-5">Data di ingresso: <span class="card-text fw-normal ms-3 text-nowrap">  @item.DataIN.ToString("dd-MM-yyyy")</span></h5>

                    <h5 class="card-title fs-5">Data di uscita: <span class="card-text fw-normal ms-3 text-nowrap">@(item.DataOUT != null ? item.DataOUT.Value.ToString("dd-MM-yyyy") : "")</span></h5>

                    <div class="btn-group-sm">
                        @Html.ActionLink("Modifica", "Edit", new { id = item.RicoveroID }, new { @class = "btn btn-outline-primary" })

                        @Html.ActionLink("Elimina", "Delete", new { id = item.RicoveroID }, new { @class = "btn btn-outline-dark" })
                    </div>
                </div>
            </div>
        </div>
    </div>



}
