@model BW_Clinica_Veterinaria.Models.Proprietari

@{
    ViewBag.Title = "Delete";
}

<h2>Elimina</h2>

<h3>Sei sicuro di voler eliminare il proprietario?</h3>
<div>
    <h4>Proprietari</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodFisc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodFisc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Cancella" class="btn btn-outline-danger" /> |
    @Html.ActionLink("Torna alla lista", "Index", new { @class = "btn btn-outline-success" })
</div>
    }
</div>
