@model BW_Clinica_Veterinaria.Models.Proprietari

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proprietari</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodFisc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodFisc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProprietarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
