@model BW_Clinica_Veterinaria.Models.Animali

@{
    ViewBag.Title = "Details";
}

<h2>Dettagli</h2>

<div>
    <h4>Animali</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <div style="background-color:grey; width:250px; height:250px;" class="rounded-circle d-flex justify-content-center overflow-hidden">
                <img src=@Html.DisplayFor(model => model.Foto) width="200" height="200" style="object-fit:fill" class="mt-3" />
            </div>
        </dd>

        <dt>
            @Html.DisplayName("Proprietario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proprietari.Nome) @Html.DisplayFor(model => model.Proprietari.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColoreManto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColoreManto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasChip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasChip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NChip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NChip)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.AnimaleID }) |
    @Html.ActionLink("Torna alla Home", "Index")
</p>
