@model IEnumerable<BW_Clinica_Veterinaria.Models.Animali>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Animali</h2>

<p>
    @Html.ActionLink("Registra nuovo Animale", "Create")
</p>

<div class="row row-cols-1 row-cols-md-3 g-4 mb-5 mt-3">
    @foreach (var model in Model)
    {

        <div class="col">
            <div class="card shadow text-black product-card">
                <img src="@Html.DisplayFor(modelItem => model.Foto)" class="card-img-top" alt="Armali">
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => model.Nome)</h3>
                    <p class="card-text">
                        <h4>@Html.DisplayFor(modelItem => model.Tipo)</h4> <br />
                        <h5> @Html.DisplayFor(modelItem => model.Proprietari.Nome)</h5>
                        <h5> @Html.DisplayFor(modelItem => model.Proprietari.Cognome)</h5>
                        <br />
                        <span>@Html.DisplayFor(modelItem => model.DataNascita)</span>
                    </p>
                    <div class="btn-group-sm">
                        @Html.ActionLink("Modifica", "Edit", new { id = model.AnimaleID }, new { @class = "btn btn-outline-primary" })
                        @Html.ActionLink("Dettagli", "Details", new { id = model.AnimaleID }, new { @class = "btn btn-outline-secondary" })
                        @Html.ActionLink("Elimina", "Delete", new { id = model.AnimaleID }, new { @class = "btn btn-outline-dark" })
                    </div>
                </div>
            </div>
        </div>


    }
</div>