@model IEnumerable<BW_Clinica_Veterinaria.Models.Animali>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proprietari.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataReg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColoreManto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasChip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NChip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietari.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataReg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColoreManto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasChip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NChip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnimaleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnimaleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnimaleID })
        </td>
    </tr>
}

</table>
