@model IEnumerable<BW_Clinica_Veterinaria.Models.Animali>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Animali</h2>

 @Html.ActionLink("Registra nuovo Animale", "Create" , new { @class = "btn btn-outline-primary" })

<div class="row row-cols-1 row-cols-md-3 g-3 mb-3 mt-3">
    @foreach (var model in Model)
    {
        <div class="col">
            <div class="card shadow-lg text-black card">
                <img src="@Html.DisplayFor(modelItem => model.Foto)" class="card-img-bottom" alt="Armali" width="400" height="600" style="object-fit:contain">
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => model.Nome)</h3>
                    <p class="card-text">
                        <h4>@Html.DisplayFor(modelItem => model.Tipo)</h4>
                        <br />
                        <div class="form-group">
                            @Html.DisplayFor(modelItem => model.Proprietari.NomeCompleto)
                        </div>


                        <br />
                        <span>@Html.DisplayFor(modelItem => model.DataNascita)</span>
                    </p>
                    <div class="btn-group-sm">
                        @Html.ActionLink("Modifica", "Edit", new { id = model.AnimaleID }, new { @class = "btn btn-outline-primary" })
                        @Html.ActionLink("Dettagli", "Details", new { id = model.AnimaleID }, new { @class = "btn btn-outline-secondary" })
                        @Html.ActionLink("Elimina", "Delete", new { id = model.AnimaleID }, new { @class = "btn btn-outline-dark" })
                    </div>
                </div>
            </div>
        </div>

    }
</div>
